header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}


body {
    background: url(basketball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

}

image {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.427);
    border-image: round;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

